html,
body {
  height: 100%;
  font-family: "Open Sans", "Segoe UI", Arial, sans-serif;
  color: #525252;
}
a {
  color: $s3-c-red;
}
h1, .h1 {
  font-size: 48px;
  font-weight: 100;
  margin-top: 0;
  margin-bottom: 20px;
}
h2, .h2 {
  font-size: 35px;
  font-weight: 100;
  margin-top: 0;
  margin-bottom: 20px;
}
p {
  margin-bottom: 0;
  font-size: 14px;
  + p {
    margin-top: 10px;
  }
}
code {
  font-weight: 400;

}
blockquote {
  line-height: 23px;
  display: block;
  font-size: 13px;
  border-left: 5px solid $s3-c-red;
  background-color: #eee;
  font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
}
pre {
  border-radius: 0;
}
.middle-auto {
  margin-left: auto;
  margin-right: auto;
}
.site-wrapper {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;
}
.main {
  position: relative;
  width: 100%;
  flex: 1;
  padding-bottom: 100px;
  padding-top: 100px;
  .main-left,
  .main-content {
    padding: 0 15px;
    float: left;
    &.full-container {
      width: 100%;
      text-align: justify;
    }
  }
  .main-left {
    width: 25%;
  }
  .main-content {
    width: 75%;
  }
}

.page-homepage {
  .main {
    padding-bottom: 0;
  }
  .intro {
    @include clearfix;
    text-align: center;
    h1, .h1 {
      margin-top: 0;
      margin-bottom: 50px;
    }
    h3, .h3 {
      color: #aeaeae;
      margin-bottom: 50px;
    }
    img {
      margin-bottom: 100px;
    }
    h2, .h2 {
      font-size: 48px;
      margin-bottom: 50px;
    }
  }
  .full-background {
    position: relative;
    padding: 120px 0;
    &:before {
      content: '';
      display: block;
      background-color: inherit;
      width: 1000%;
      left: 50%;
      margin-left: -500%;
      position: absolute;
      height: 100%;
      top: 0;
    }
    &.section-1 {
      color: $c-white;
    }
    &.section-5 {
      color: $c-white;
    }
    .row {
      position: relative;
      z-index: 3;
      display: table;
    }
    .text-field,
    .image-field {
      display: table-cell;
      vertical-align: middle;
      float: none;
    }
    .text-field {
      font-size: 18px;
    }
    b,
    strong {
      font-size: 25px;
      text-transform: uppercase;
    }
    li + li {
      margin-top: 10px;
    }
  }
}

body.post {
  h4, .h4 {
    margin-bottom: 15px;
  }
}