header.header {
  @include clearfix;
  border-top: 10px solid $s3-c-red;
  .navbar-header {
    .navbar-brand {
      display: table;
      vertical-align: middle;
      padding-top: 25px;
      padding-bottom: 25px;
      color: $s3-c-red;
      img, span {
        display: table-cell;
        vertical-align: middle;
        padding: 0 5px;
      }
      img {
        height: 30px;
        width: auto;
        display: inline-block;
      }
    }
  }
  .navbar {
    border-top: 0;
    margin-bottom: 0;
    .navbar-nav {
      a {
        color: $s3-c-menu;
        font-size: 16px;
        padding-top: 30px;
        padding-bottom: 30px;
      }
      .active {
        a {
          background-color: transparent;
        }
      }
    }
    .languages {
      li {
        padding-top: 30px;
        padding-bottom: 30px;
        + li {
          margin-left: 15px;
        }
      }
      a {
        padding: 0;
      }
      img {
        display: inline-block;
      }
    }
  }
}